.cloudsecurityalliancecsa-icon {
  width: 1929.9px;
  height: 278.4px;
  position: absolute;
  margin: 0 !important;
  right: -9.9px;
  bottom: 0;
}
.a-home-page,
.content {
  display: flex;
  box-sizing: border-box;
}
.content {
  width: 1582px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.a-home-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 63px;
  gap: 160px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .a-home-page {
    gap: 80px;
  }
}
@media screen and (max-width: 750px) {
  .a-home-page {
    gap: 40px;
  }
}
