.project-item {
  height: 1900px;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.grid,
.grid-workprojects,
.project-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.grid-workprojects {
  width: 1366px;
  justify-content: flex-start;
  padding: 100px;
  box-sizing: border-box;
}
.grid {
  align-self: stretch;
  justify-content: center;
}
.content,
.desktop-home-page-1920px {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  align-self: stretch;
  gap: 84px;
  max-width: 100%;
}
.desktop-home-page-1920px {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  gap: 160px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .grid-workprojects {
    padding: 42px 50px;
    box-sizing: border-box;
  }
  .content {
    gap: var(--gap-23xl);
  }
  .desktop-home-page-1920px {
    gap: 80px;
  }
}
@media screen and (max-width: 900px) {
  .grid-workprojects {
    padding: var(--padding-8xl) var(--padding-6xl);
    box-sizing: border-box;
  }
  .content {
    gap: 21px;
  }
  .desktop-home-page-1920px {
    gap: var(--gap-21xl);
  }
}
