.onItsWay1 {
  position: absolute;
  height: calc(100% - 0.2px);
  top: 0;
  bottom: 0.2px;
  left: -10px;
  max-height: 100%;
  width: 304px;
  object-fit: cover;
}
.bver {
  width: 50px;
  position: relative;
  display: inline-block;
  min-width: 50px;
}
.bverWrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: var(--br-mini) var(--br-mini) 0 var(--br-mini);
  background-color: var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-38xl);
  z-index: 1;
}
.workProjectsOnItsWay {
  height: 285px;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.baver {
  width: 285px;
  margin: 0 !important;
  position: absolute;
  top: 589px;
  left: 347px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--titels-banner-size);
  color: var(--color-white);
  font-family: var(--body);
}
@media screen and (max-width: 450px) {
  .bver {
    font-size: var(--body-text-desctiption-size);
  }
}