.icon {
  width: 682px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  max-width: 100%;
}
.wrapper {
  width: 993px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 145%;
  flex-shrink: 0;
}
.frameChild,
.frameItem {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  min-height: 485px;
}
.frameItem {
  z-index: 1;
  margin-left: -296px;
}
.frameParent {
  width: 2065px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-978xl) 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
  max-width: 301%;
}
.imageSliderMapChild,
.imageSliderMapItem {
  align-self: stretch;
  width: 682px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 485px;
  flex-shrink: 0;
  max-width: 100%;
}
.imageSliderMap {
  width: 688px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-8xs);
  box-sizing: border-box;
  gap: var(--gap-686xl);
  min-width: 688px;
  max-width: 100%;
}
.iStartedThis {
  align-self: stretch;
  height: 312px;
  position: relative;
  line-height: 27px;
  display: inline-block;
}
.globallyThisYear,
.p,
.tonsOfWaste {
  margin: 0;
}
.theWorldCounts1 {
  color: inherit;
}
.theWorldCounts {
  margin: 0;
}
.tonsOfWasteContainer {
  height: 80px;
  width: 166px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.wasteStatistics {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-6xl) 0 var(--padding-xl);
  text-align: center;
  font-size: var(--body-text-desctiption-size);
}
.projectDescription,
.sliderContent,
.sliderImiges {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.projectDescription {
  width: 367px;
  flex-direction: column;
  gap: var(--gap-75xl);
  min-width: 367px;
}
.sliderContent,
.sliderImiges {
  flex-direction: row;
  box-sizing: border-box;
}
.sliderImiges {
  border-radius: var(--br-21xl);
  background-color: var(--color-yellow-100);
  padding: var(--padding-31xl) var(--padding-51xl);
  gap: var(--gap-38xl);
}
.sliderContent {
  padding: 0 0 var(--padding-3xl);
}
.howToBe {
  width: 278px;
  position: relative;
  display: inline-block;
}
.involvementContent,
.involvementContentWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.involvementContent {
  flex: 1;
  box-shadow: -10px 30px 74px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  background-color: var(--color-yellow-100);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-4xl) var(--padding-xl);
}
.involvementContentWrapper {
  width: 544px;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  text-align: center;
  font-size: var(--header-size);
  font-family: var(--header);
}
.underConstructionVia {
  width: 445.3px;
  height: 41.6px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.workInProgress1Icon {
  height: 271px;
  width: 271px;
  position: relative;
  object-fit: cover;
}
.workInProgress1Wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.constructionInfoContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base-4);
  max-width: 100%;
}
.constructionInfoContentWrapper,
.sliderContentParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.constructionInfoContentWrapper {
  width: 776px;
  flex-direction: row;
  padding: 0 var(--padding-base);
  font-size: var(--body-text-desctiption-size);
}
.sliderContentParent {
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-70xl);
  text-align: left;
  font-size: var(--body-size);
  color: var(--color-black);
  font-family: var(--body);
}
@media screen and (max-width: 1350px) {
  .frameParent {
    padding-right: var(--padding-479xl);
    box-sizing: border-box;
  }
  .imageSliderMap {
    flex: 1;
    gap: var(--gap-333xl);
    min-width: 100%;
  }
  .projectDescription {
    flex: 1;
  }
  .sliderImiges {
    flex-wrap: wrap;
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-16xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .projectDescription {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .frameParent {
    padding-right: var(--padding-230xl);
    box-sizing: border-box;
  }
  .imageSliderMap {
    gap: var(--gap-157xl);
  }
  .sliderImiges {
    gap: var(--gap-9xl);
    padding-top: var(--padding-13xl);
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
  .howToBe {
    font-size: var(--body-size);
  }
  .sliderContentParent {
    gap: var(--gap-25xl);
  }
}
@media screen and (max-width: 450px) {
  .frameParent {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .imageSliderMap {
    gap: var(--gap-69xl);
  }
  .iStartedThis {
    font-size: var(--font-size-lgi);
  }
  .projectDescription {
    gap: var(--gap-28xl);
  }
  .howToBe {
    font-size: var(--font-size-lg);
  }
  .sliderContentParent {
    gap: var(--gap-3xl);
  }
}