.blankLine,
.blankLine1,
.blankLine2,
.creatingActionableFutures,
.gerritRietveldAcademy,
.rietveldReviewed2023,
.theCenterOf {
  margin: 0;
}
.creatingActionableFuturesContainer {
  height: 200px;
  flex: 1;
  position: relative;
  line-height: 27px;
  display: inline-block;
  max-width: 100%;
}
.pressMedia1 {
  height: 34px;
  position: relative;
  font-size: var(--header-size);
  display: inline-block;
  font-family: var(--header);
  color: var(--color-black);
  text-align: center;
}
.pressMedia,
.titel {
  border-radius: var(--br-mini);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.titel {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xl) var(--padding-xl);
  background-color: var(--color-yellow-100);
  width: 372px;
  margin: 0 !important;
  position: absolute;
  top: -62px;
  left: -92px;
  box-shadow: -10px 30px 74px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.titel:hover {
  background-color: var(--color-yellow-200);
}
.pressMedia {
  width: 550px;
  background-color: var(--color-gray);
  justify-content: flex-start;
  padding: var(--padding-36xl) var(--padding-41xl);
  position: relative;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.passageLacte {
  font-family: var(--body);
}
.blankLine3,
.passageLacteIiInOut {
  margin: 0;
}
.passageLacte1 {
  font-family: var(--body);
}
.blankLine4,
.passageLacteRentreAn {
  margin: 0;
}
.graduationExhibition {
  font-family: var(--body);
}
.blankLine5,
.graduationExhibitionGerri {
  margin: 0;
}
.thankYouFor {
  font-family: var(--body);
}
.blankLine6,
.thankYouForYourUnderstandi {
  margin: 0;
}
.asIfThey {
  font-family: var(--body);
}
.asIfTheyKnowWhenSiteLo,
.blankLine7 {
  margin: 0;
}
.p2 {
  font-family: var(--body);
}
.blankLine8,
.p2OveramstelExhibitionGr {
  margin: 0;
}
.abecedar {
  font-family: var(--body);
}
.abecedarVilleDeMoulinsP {
  margin: 0;
}
.passageLacteContainer {
  height: 597px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.pressMediaParent,
.revivezLinstant {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.revivezLinstant {
  width: 550px;
  margin: 0 !important;
  position: absolute;
  top: -263px;
  left: 97px;
  border-radius: var(--br-mini);
  background-color: var(--color-gray);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: var(--padding-36xl) var(--padding-41xl) var(--padding-5xs);
  box-sizing: border-box;
}
.pressMediaParent {
  align-self: stretch;
  justify-content: flex-end;
  position: relative;
  text-align: left;
  font-size: var(--body-size);
  color: var(--color-black);
  font-family: var(--body);
}
@media screen and (max-width: 750px) {
  .pressMedia {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .creatingActionableFuturesContainer,
  .passageLacteContainer {
    font-size: var(--font-size-lgi);
  }
}