.onItsWay1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.onItsWay2 {
  width: 88px;
  position: relative;
  display: inline-block;
  min-width: 88px;
}
.titel,
.workProjectsOnItsWay {
  display: flex;
  flex-direction: row;
}
.titel {
  border-radius: var(--br-mini) var(--br-mini) 0 var(--br-mini);
  background-color: var(--color-black);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-19xl);
  white-space: nowrap;
  z-index: 1;
}
.workProjectsOnItsWay {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  gap: var(--gap-3xs);
}
.onItsWay {
  height: 280px;
  width: 280px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--titels-banner-size);
  color: var(--color-white);
  font-family: var(--body);
}