@font-face {
  font-family: "Berlin Sans FB";
  src: url("/public/Berlin Sans FB Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Berlin Sans FB";
  src: url("/public/Berlin Sans FB Bold.TTF");
  font-weight: 700;
}
@font-face {
  font-family: "Berlin Sans FB Demi";
  src: url("/public/Berlin Sans FB Demi Bold.ttf");
  font-weight: 700;
}

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --body: "Berlin Sans FB";
  --header: "Berlin Sans FB Demi";

  /* font sizes */
  --body-size: 24px;
  --font-size-lgi: 19px;
  --titels-banner-size: 20px;
  --body-text-desctiption-size: 16px;
  --header-size: 30px;
  --titels-works-size: 55px;
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: rgba(255, 255, 255, 0);
  --color-gray-200: rgba(0, 0, 0, 0.05);
  --color-yellow-100: #ffff00;
  --color-yellow-200: #e6e600;

  /* Gaps */
  --gap-141xl: 160px;
  --gap-21xl: 40px;
  --gap-61xl: 80px;
  --gap-228xl: 247px;
  --gap-104xl: 123px;
  --gap-12xl: 31px;
  --gap-43xl: 62px;
  --gap-5xl: 24px;
  --gap-xl: 20px;
  --gap-3xs: 10px;
  --gap-440xl: 459px;
  --gap-210xl: 229px;
  --gap-38xl: 57px;
  --gap-96xl: 115px;
  --gap-70xl: 89px;
  --gap-25xl: 44px;
  --gap-3xl: 22px;
  --gap-base-4: 15.4px;
  --gap-9xl: 28px;
  --gap-75xl: 94px;
  --gap-28xl: 47px;
  --gap-686xl: 705px;
  --gap-157xl: 176px;
  --gap-333xl: 352px;
  --gap-69xl: 88px;
  --gap-2xs: 11px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-10xl: 29px;
  --padding-12xl: 31px;
  --padding-lg: 18px;
  --padding-25xl: 44px;
  --padding-lgi: 19px;
  --padding-21xl: 40px;
  --padding-5xs: 8px;
  --padding-3xs: 10px;
  --padding-29xl: 48px;
  --padding-22xl: 41px;
  --padding-9xl: 28px;
  --padding-8xs: 5px;
  --padding-24xl: 43px;
  --padding-38xl: 57px;
  --padding-15xl: 34px;
  --padding-2xl-5: 21.5px;
  --padding-19xl: 38px;
  --padding-17xl: 36px;
  --padding-201xl: 220px;
  --padding-91xl: 110px;
  --padding-36xl: 55px;
  --padding-mid-5: 17.5px;
  --padding-11xs: 2px;
  --padding-12xs: 1px;
  --padding-41xl: 60px;
  --padding-11xl: 30px;
  --padding-4xl: 23px;
  --padding-base: 16px;
  --padding-3xl: 22px;
  --padding-31xl: 50px;
  --padding-51xl: 70px;
  --padding-13xl: 32px;
  --padding-16xl: 35px;
  --padding-6xl: 25px;
  --padding-978xl: 997px;
  --padding-230xl: 249px;
  --padding-479xl: 498px;
  --padding-14xl: 33px;
  --padding-119xl: 138px;
  --padding-104xl: 123px;
  --padding-34xl: 53px;
  --padding-767xl: 786px;
  --padding-177xl: 196px;
  --padding-374xl: 393px;
  --padding-42xl: 61px;
  --padding-60xl: 79px;
  --padding-81xl: 100px;
  --padding-8xl: 27px;
  --padding-23xl: 42px;
  --padding-119xl-5: 138.5px;
  --padding-99xl-5: 118.5px;
  --padding-103xl: 122px;
  --padding-83xl: 102px;

  /* Border radiuses */
  --br-mini: 15px;
  --br-21xl: 40px;
  --br-81xl: 100px;
}
